# Association Rule 

Prepare rules for the all the data sets 
1) Try different values of support and confidence. Observe the change in number of rules for different support,confidence values
2) Change the minimum length in apriori algorithm
3) Visulize the obtained rules using different plots

In [1]:
##Import the file
import pandas as pd
import numpy as np
df= pd.read_csv("D:/Shiva Data Science/ExcelR Assignments/Association Rule/my_movies.csv", encoding='latin1')
df = df.iloc[:,5:]
df

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,1,0,1,1,0,1,0,0,0,1
1,0,1,0,0,1,0,0,0,1,0
2,0,0,1,0,0,1,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0
5,1,1,0,0,1,0,0,0,0,0
6,0,0,0,1,0,0,1,0,0,0
7,0,1,0,0,1,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0
9,1,1,0,0,0,0,0,1,0,1

In [2]:
# Preprocessing
df.isna().sum()

Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [3]:
df.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,1,0,1,1,0,1,0,0,0,1
1,0,1,0,0,1,0,0,0,1,0
2,0,0,1,0,0,1,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0

In [4]:
# Apply algorithm
# Apriori Algorithm 
!pip install apyori

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: apyori in c:\users\91879\appdata\roaming\python\python310\site-packages (1.1.2)

In [5]:
from mlxtend.frequent_patterns import apriori,association_rules
from apyori import apriori

In [6]:
frequent_itemsets = apriori(df, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)
frequent_itemsets

In [7]:
itemsets = list(frequent_itemsets)

In [8]:
itemsets[2]

RelationRecord(items=frozenset({'G', 'M'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'G'}), items_add=frozenset({'M'}), confidence=0.5, lift=5.0), OrderedStatistic(items_base=frozenset({'M'}), items_add=frozenset({'G'}), confidence=1.0, lift=5.0)])

In [9]:
len(itemsets)

27

In [10]:
# Access an element from apriori table

In [11]:
itemsets[0][1] # support

0.1

In [12]:
itemsets[0][2][0][0] # base item

frozenset({'B'})

In [13]:
itemsets[0][2][0][1] # add item

frozenset({'h'})

In [14]:
itemsets[0][2][0][2] # confidence

1.0

In [15]:
itemsets[0][2][0][3] # lift

5.0

In [16]:
# Access through for loop
a=[]
b=[]
c=[]
d=[]
e=[]

for i in range(0,23):
    a.append(itemsets[i][1]) # support
    b.append(itemsets[i][2][0][0]) # base item
    c.append(itemsets[i][2][0][1]) # add item
    d.append(itemsets[i][2][0][2]) # confidence
    e.append(itemsets[i][2][0][3]) # lift

In [17]:
df["Support"]  = pd.DataFrame(a)
df["Baseitem"]  = pd.DataFrame(b)
df["Additem"]  = pd.DataFrame(c)
df["Confidence"]  = pd.DataFrame(d)
df["Lift"]  = pd.DataFrame(e)
df

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,Support,Baseitem,Additem,Confidence,Lift
0,1,0,1,1,0,1,0,0,0,1,0.1,B,h,1.0,5.000000
1,0,1,0,0,1,0,0,0,1,0,0.1,B,v,1.0,10.000000
2,0,0,1,0,0,1,0,0,0,0,0.1,G,M,0.5,5.000000
3,1,1,0,0,1,0,0,0,0,0,0.1,G,d,0.5,5.000000
4,1,1,0,0,1,0,0,0,0,0,0.2,G,l,1.0,5.000000
5,1,1,0,0,1,0,0,0,0,0,0.2,H,P,1.0,3.333333
6,0,0,0,1,0,0,1,0,0,0,0.2,H,y,1.0,5.000000
7,0,1,0,0,1,0,0,0,0,0,0.3,L,O,1.0,3.333333
8,1,1,0,0,1,0,0,0,0,0,0.3,L,R,1.0,3.333333
9,1,1,0,0,0,0,0,1,0,1,0.3,L,T,1.0,3.333333